rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ===============================================================
    // Helper Functions
    // ===============================================================
    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuthenticated() && 
        (request.auth.token.email == "maxmin0925@gmail.com" && request.auth.token.email_verified == true);
    }

    // ===============================================================
    // Rules
    // ===============================================================

    // Portfolio content is publicly readable
    match /profile/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /competencies/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /projects/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
